<!-- templates/home.html -->


<!--
Instructions video on how to upload an image and run a model
https://www.youtube.com/watch?v=mgX-2_ybqNk -->

{% extends 'base.html' %}

{% block content %}
<h1>Welcome to the Compression Project </h1>

We store your images for free or at low cost. Upload to try it out!

<br><br>

How it works:
<ol>
  <li> Upload your image below
  <li> Our program compresses it
  <li> You get back a link with your saved image
  <li> Go to your unique link to redownload your image.
</ol>

<form method="post" enctype="multipart/form-data" action="predictImage/">
{% csrf_token %}

<input type="submit" value="Upload Image" >

</form>

{% endblock %}
